<div class="container" style="margin-top: 100px;display:flex;justify-content:center;">
  <div class="row" style="width:500px;">
    <form action="/admin/login" method="post" style="display:flex;flex-direction:column;justify-content:center;">
      <div class="mb-3 row">
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputUser" placeholder="usuario" name="usuario">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="contraseña" name="password">
        </div>
      </div>
      <button type="submit" class="btn singin" style="width: 100px;border: solid 1px grey">INGRESAR</button>
    </form>
    {{#if error}}
    <p>usuario o contraseña incorrectos</p>
    {{/if}}
  </div>
</div>