<div class="containerP">
<div class="productsContainer">
    <div class="products">
        <ul>
            <li><a href="/admin/products/skates/skates_list">SKATES</a></li>
            <li><a href="/admin/products/clothes/clothes_list">CLOTHES</a></li>
            <li><a href="/admin/products/trucks_&_wheels/T&W_list">TRUCKS & WHEELS</a></li>
        </ul>
    </div>
</div>
</div>