<div class="containerP">
<div class="productsContainer">
    <div class="products">
        <ul>
            <li><a href="/admin/products/skates">SKATES</a></li>
            <li><a href="">CLOTHES</a></li>
            <li><a href="">TRUCKS & WHEELS</a></li>
        </ul>
    </div>
</div>
</div>